h1 {
    color: pink;
}


/* img {
    background-color: red;
} */


/*******************************************CLASS SELECTION ***********************/

.bacon {
    background-color: red;
}

.broccoli {
    background-color: green;
}


/******************************************ID SELECTOR ****************************************/