#title {
    background-color: #ff4c68;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.8;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
}

em {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Nav Bar */

.navbar {
    padding-bottom: 7.5rem;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.nav-item {
    margin-right: 2.5rem;
}

.nav-link {
    font-size: 1.15rem;
    font-weight: bold;
}


/* BUTTON */

.dowload-button {
    margin: 18px 15px;
}


/* DOG I-PHONE */

.iphone-dog {
    margin-left: 7.5rem;
    transform: rotate(22deg);
    width: 55%;
    position: absolute;
}


/* Features */

#features {
    padding: 5% 0;
    background-color: white;
    text-align: center;
    position: relative;
}

.fas {
    font-size: 5rem;
    padding: 10%;
    color: #ef8172;
    cursor: pointer;
}

.fas:hover {
    color: #ff4c68;
}


/* testimonials */

#testimonials {
    background-color: #ef8172;
    text-align: center;
}

.testimonial-image {
    border-radius: 50%;
    width: 10%;
    margin: 15px;
}

.carousel-item {
    padding: 7% 15%;
    width: auto;
}


/* Press */

#press {
    padding-top: 0;
    padding-bottom: 10%;
    background-color: #ef8172;
    text-align: center;
}

.press-image {
    width: 15%;
    margin-right: 3%;
}


/* Pricing */

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}


/* CALL TO ACTION */

#cta {
    background-color: #ff4c68;
    text-align: center;
}

.call-action {
    padding: 7% 15%;
}

.true-love>h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
}


/* FOOTER */

#footer {
    text-align: center;
    padding: 5% 15%;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-youtube {
    font-size: 2rem;
    margin: 20px;
}

.fa-facebook-f:hover {
    color: #4267B2;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.fa-twitter:hover {
    color: #1DA1F2;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.fa-youtube:hover {
    color: #FF0000;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}